services:
  teleservice:
    image: teleservice:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - ./database.sqlite:/app/database.sqlite
    restart: unless-stopped
